@{
    ViewData["Title"] = "School project";
    ViewData["TSName"] = "نام ";
    ViewData["TSFamily"] = " نام خانوادگی";
    ViewData["TSAge"] = "سن ";
    ViewData["TSMobile"] = " شماره تماس";
    ViewData["TSEmail"] = " ایمیل";
    ViewData["ok"] = "ثبت";
    ViewData["close"] = "بستن";
    ViewData["TSEdit"] = "ویرایش هنرآموز";
    ViewData["TS"] = "اضافه کردن هنرآموز";
    ViewData["operator"] = "عملیات";
    ViewData["Edit"] = "ویرایش";
    ViewData["Delete"] = "حذف";
    ViewData["save"] = "ذخیره";
}
@using shcool.Models;

@model GetTowModels;
<div class="text-center">

    <button type="button" class="btn btn-primary fs-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        ثبت هنر جویان
    </button>

    <!-- Modal student -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="staticBackdropLabel">@ViewData["TS"]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate method="post">
                        <div class="form-row  d-flex flex-column align-items-center  justify-content-between">
                            <div class="col-md-4 position-relative  insideForm">
                                <label for="validationTooltip01" class="form-label">@ViewData["TSName"]</label>
                                <input type="text" name="name" class="form-control fs-3" id="validationTooltip01" required>
                            </div>
                            <div class="col-md-4 position-relative mt-1 insideForm">
                                <label for="validationTooltip02" class="form-label">@ViewData["TSFamily"]</label>
                                <input type="text" name="Family" class="form-control fs-3" id="validationTooltip02" required>
                            </div>
                            <div class="col-md-4 position-relative mt-1 insideForm">
                                <label for="validationTooltipUsername" class="form-label">@ViewData["TSAge"]</label>
                                <input type="tel" maxlength="2" name="Age" min="1" class="form-control fs-3" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                            </div>
                            <div class="col-md-6 position-relative mt-1 insideForm">
                                <label for="validationTooltip03" class="form-label">@ViewData["TSMobile"]</label>
                                <input type="tel" name="phone" maxlength="11" min="11" class="form-control fs-3" id="validationTooltip03" required>
                            </div>
                            <div class="col-md-3 position-relative mt-1 insideForm">
                                <label for="validationTooltip04" class="form-label">@ViewData["TSEmail"]</label>
                                <input type="email" class="form-control fs-3" name="Email" id="validationTooltip04">

                            </div>
                            <button class="btn btn-success mt-5 fs-3">@ViewData["ok"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- show student-->
    <div class=" table-responsive mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@ViewData["TSName"]</th>
                    <th scope="col">@ViewData["TSFamily"] </th>
                    <th scope="col">@ViewData["TSAge"] </th>
                    <th scope="col">@ViewData["TSMobile"] </th>
                    <th scope="col">@ViewData["TSEmail"] </th>
                    <th scope="col">@ViewData["operator"] </th>
                </tr>
            </thead>

            <tbody>
                @if (Model.StudentInfo.Count == 0)
                {
                    <tr>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>اطلاعاتی یافت نشد</td>
                        <td>  </td>
                        <td>  </td>
                    </tr>

                }

                @foreach (var item in Model.StudentInfo)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Family</td>
                        <td>@item.Age</td>
                        <td>@item. </td>
                        <td>@item.Email</td>
                        <td>
                            <button data-bs-target="#exampleModal" data-bs-toggle="modal" class="btn btn-primary btn-sm">@ViewData["Edit"]</button>
                            <a href="/home/remove/@item.ID" class="btn btn-danger btn-sm">حذف</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>


    </div>
    <!-- Modal  Edit-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@ViewData["TSEdit"]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
<<<<<<< HEAD
                    @foreach (var item in Model)
                    {
                       @*  if (item.ID)
                        { *@
=======
                    <form class="d-flex flex-column row  g-3 needs-validation" novalidate method="post">
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltip01" class="form-label">@ViewData["TSName"]</label>
                            <input type="text" value="@Model.List.Name" class="form-control ts-3" id="validationTooltip01" required>
                        </div>
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltip02" class="form-label">@ViewData["TSFamily"]</label>
                            <input type="text" value="@Model.List.Family" class="form-control ts-3" id="validationTooltip02" required>
                        </div>
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltipUsername" class="form-label">@ViewData["TSAge"]</label>
                            <input type="tel" value="@Model.List.Age" maxlength="2" min="1" class="ts-3 form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                        </div>
                        <div class="col-md-6 position-relative insideForm">
                            <label for="validationTooltip03" class="form-label">@ViewData["TSMobile"]</label>
                            <input type="tel" value="@Model.List.Phone" maxlength="11" min="11" class="ts-3 form-control" id="validationTooltip03" required>
                        </div>
                        <div class="col-md-3 position-relative insideForm">
                            <label for="validationTooltip05" class="form-label">@ViewData["TSEmail"]:</label>
                            <input type="email" value="@Model.List.Email" class="form-control ts-3" id="validationTooltip05">
>>>>>>> 7fb0c49bb7e78e961e0ea511dbf01c420e47299a

                        </div>

<<<<<<< HEAD
                                </div>

                            </form>
                        @* } *@
                    }
=======
                    </form>
>>>>>>> 7fb0c49bb7e78e961e0ea511dbf01c420e47299a

                    <button type="button" class="btn btn-primary">@ViewData["save"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
